html,
body {
  padding: 0;
  margin: 0;
}

main {
  width: 100vw;
  height: 100vh;
  background: rgb(227, 240, 255);
  display: grid;
  grid-template-rows: auto 1fr;
}

.demo-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.panel-layout {
  display: grid;
  grid-template-rows: 2em 1fr 2em;
  width: 20em;
  height: 20em;
  background-color: white;
  border-radius: 2rem;
  box-shadow: -0.4rem -0.4rem 0.4rem grey;
}

.panel-content {
  height: 100%;
  width: 100%;
  background-color: yellow;
}

.panel-head {
  height: 100%;
  width: 100%;
  border-radius: 2em 2em 0 0;
  background-color: green;
}

.panel-footer {
  height: 100%;
  width: 100%;
  border-radius: 0 0 2em 2em;
  background-color: red;
}
